{% extends 'client/_main.html' %}
{% load i18n %}
{% block content %}
    {% if articles %}
        {% for article in articles %}
            <div class="container bg-white shadow mt-5 p-5 form-layout">
                <div class="text-center">
                    <h3> {{ article.title }} </h3>
                </div>
                <p>
                    {{ article.content }}
                </p>
                <p>
                    <strong>
                        {% if article.is_premium %}
                            ⭐ {% translate 'Premium Article' %}
                        {% else %}
                            {% translate 'Standard Article' %}
                        {% endif %}
                    </strong>
                </p>
            </div>
        {% endfor %}
    {% elif has_subscription %}
        <div class="container bg-white shadow mt-5 p-5 form-layout">
            <h5>{% translate 'No articles found for the given filters.' %}
        </div>
    {% else %}
        <div class="container bg-white shadow mt-5 p-5 form-layout text-justify">
            <h5>
                {% translate 'Hi! Thanks for being a registered user.' %}
            </h5>
            <p>
                <strong><em>
                    {% translate 'Before you can browse any articles, you need an active subscription plan.' %}
                </em></strong>
            </p>
            <hr>
            <p class="mt-5 text-center">
                <a href="{% url 'client-subscribe-plan' %}" class="btn btn-info">
                    {% translate 'View subscription plans' %}
                </a>
            </p>
        </div>
    {% endif %}
{% endblock content %}