{% extends 'client/_main.html' %}
{% load i18n %}

{% block content %}
    <div class="container bg-white shadow mt-5 p-5 form-layout">
        <h3 class="text-center">{% translate 'Subscription Cancelled' %}</h3>
        <hr>
        <h1 class="text-center">❌</h1>
        <p>
            {% blocktranslate %}
                Your subscription has been cancelled as per your request. Thank you for your past support!
            {% endblocktranslate %}
        </p>
        <a href="{% url 'client-dashboard' %}" class="btn btn-success">
            {% translate 'Go Back' %}
        </a>
    </div>
{% endblock %}