<!--
    https://docs.djangoproject.com/en/5.1/ref/templates/language/
-->
{% extends 'common/_base.html' %}
{% load i18n %}

{% block tab_title %} The Contrarian Report {% endblock %}

{% block navbar_item_margin %} ms-auto {% endblock %}

{% block navbar_option_1 %}
    {% with option_url='register' option_label='Register' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block navbar_option_2 %}
    {% with option_url='login' option_label='Login' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block navbar_option_3 %}
{% endblock %}

{% block navbar_option_4 %}
{% endblock %}

{% block navbar_option_5 %}
{% endblock %} 

{% block navbar_option_6 %}
{% endblock %} 

{% block content %}
    <div class="text-center mt-5">
        <h5>
            {% translate 'Get unique access to rentable perspectives about the capital markets!' %}
        </h5>
        <br>
        <p> {% translate 'Access to our exclusive collection with reports and articles selection.' %}</p>
        <br>
        <a class="btn btn-success" type="button"  href="{% url 'register' %}">
            <i class="fa fa-angle-right" aria-hidden="true"></i> 
            {% translate 'Get Started' %}
        </a>
    </div>
{% endblock %}